<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% for campo in formulario %}
        <div class="mb-3">
            <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
            {{ campo }}
        </div>
        <div class="col-12 help-text">{{ campo.errors }}</div>
    {% endfor %}
    <input name="btn-guardar" id="btn_guardar" class="btn btn-success" type="submit" value="Guardar">
    <a name="btnCancelar" id="btnCancelar" class="btn btn-primary" href="{% url 'listaSocioCuota' %}" role="button">Cancelar</a>
</form>















