{% extends 'paginas_base/base.html' %}

{% block titulo %}Página Lista Cuota de Socios {% endblock titulo %}
{% block contenido %}
    <div class="card">
        <div class="card-header">
            <a name="btnuevo" id="btnuevo" class="btn btn-primary" href="{% url 'crear_editarSocioCuota' id=0  %}" role="button">Nuevo Cuota Socio</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Socios</h4>
            {{ SociosCuota|length }} 
      <table class="table">
    <thead>
        <tr>
            <th>Mes</th>
            <th>Nro. Registro</th>
            <th>Nombre</th>
            <th>Fecha de Pago</th>
            <th>Importe</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for mes, pagos, total in pagos_y_totales %}
            <tr>
                <td rowspan="{{ pagos|length }}">{{ mes }}</td>
                <td>{{ pagos.0.id }}</td>
                <td>{{ pagos.0.nom }}</td>
                <td>{{ pagos.0.fechap }}</td>
                <td>{{ pagos.0.importe }}</td>
                <td>
             <a class="btn btn-info" href="{% url 'crear_editarSocioCuota' id=pagos.0.pk %}">Editar</a>
             <a class="btn btn-danger" href="{% url 'eliminarCuotaSocio' id=pagos.0.pk %}">Eliminar</a>
                </td>
            </tr>
            {% for ju in pagos|slice:"1:" %}
            <tr>
                <td>{{ ju.id }}</td>
                <td>{{ ju.nom }}</td>
                <td>{{ ju.fechap }}</td>
                <td>{{ ju.importe }}</td>
                <td>
          <a class="btn btn-info" href="{% url 'crear_editarSocioCuota' id=ju.pk %}">Editar</a>
          <a class="btn btn-danger" href="{% url 'eliminarCuotaSocio' id=ju.pk %}">Eliminar</a>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4" class="text-right"><strong>Total {{ mes }}:</strong></td>
                <td><strong>${{ total }}</strong></td>
                <td><strong>Pago Administrador (10%):</strong></td>
                <td><strong>${% widthratio total 10 1 %}</strong></td>
            </tr>
            </tr>
        {% endfor %}
    </tbody>
</table>
            
        </div>
        <div class="card-footer text-muted">
        
        </div>
    </div>
   
   

{% endblock contenido %}
